html, body {
  width: 1500px;
  min-height: 100vh;
  margin: auto;
  color: #8b7969;
}

.error {
  border-color: #ff4d4f;
}

.errorMessage {
  min-height: 20px;
  font-size: 14px;
  color: #ff4d4f;
  margin-top: 5px;
}
