.container {
	position: relative;
  max-width: 1500px;
  margin: 0 auto;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.backgroundText {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
	width: 92%;
  font-size: 280px;
  color: rgba(139, 121, 105, 0.05);
  z-index: 0;
  pointer-events: none;
  user-select: none;
}

.title {
	margin-bottom: 40px;
  font-size: 30px;
}

.button {
	width: 140px;
	height: 45px;
}

.buttonLink {
  text-decoration: none;
	color: #fff;
	font-size: 20px;
}
